@font-face {
    font-family: "Recoleta";
    src: url("./fonts/Recoleta-RegularDEMO.otf") format(".otf");
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #163A24;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 20;
}


.header_container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header_nav--item a {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
    color: #FBFAF7;
}

.header_btn {
    width: 141px;
    height: 52px;
    border: 0;
    border-radius: 30px;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    color: #FBFAF7;
    background-color: #198C36;
    transition: 1s ease-in-out;
    cursor: pointer;
}
